classes/co/gov/ideam/sirh/webservices/businessl/consultarfuncionarios/WS_SIAC_SIRH_ConsultarFuncionarios.wsdl

<WL5G3N0:definitions
     name="WS_SIAC_SIRH_ConsultarFuncionarios"
     targetNamespace="http://consultarFuncionarios.businessl.webservices.sirh.ideam.gov.co/"
     xmlns:WL5G3N2="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/"
     xmlns:WL5G3N1="http://consultarFuncionarios.businessl.webservices.sirh.ideam.gov.co/"
    >
    <WL5G3N0:types>
        <xsd:schema elementFormDefault="unqualified" targetNamespace="http://consultarFuncionarios.businessl.webservices.sirh.ideam.gov.co/"
             version="1.0" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="http://consultarFuncionarios.businessl.webservices.sirh.ideam.gov.co/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:element name="consultarFuncionarios" type="tns:consultarFuncionarios"/>
            <xsd:element name="consultarFuncionariosResponse" type="tns:consultarFuncionariosResponse"/>
            <xsd:complexType name="consultarFuncionarios">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="arg0" type="tns:oeConsultarFuncionarios"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="oeConsultarFuncionarios">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="codAutoridadAmbiental" type="xs:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="consultarFuncionariosResponse">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="funcionarios" type="tns:osConsultarFuncionarios"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="osConsultarFuncionarios">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="codigoError" type="xs:int"/>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="funcionarios" nillable="true"
                         type="tns:funcionario"/>
                    <xsd:element minOccurs="0" name="mensajeError" type="xs:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="funcionario">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="aliasUsuario" type="xs:string"/>
                    <xsd:element name="codigoTipoIdentificacion" type="xs:int"/>
                    <xsd:element minOccurs="0" name="direccionCorreoElectronico" type="xs:string"/>
                    <xsd:element minOccurs="0" name="identificacionPersona" type="xs:string"/>
                    <xsd:element minOccurs="0" name="nombreFuncionario" type="xs:string"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </WL5G3N0:types>
    <WL5G3N0:message name="consultarFuncionarios">
        <WL5G3N0:part name="parameters" element="WL5G3N1:consultarFuncionarios"/>
    </WL5G3N0:message>
    <WL5G3N0:message name="consultarFuncionariosResponse">
        <WL5G3N0:part name="parameters" element="WL5G3N1:consultarFuncionariosResponse"/>
    </WL5G3N0:message>
    <WL5G3N0:portType name="WS_SIAC_SIRH_ConsultarFuncionarios">
        <WL5G3N0:operation name="consultarFuncionarios">
            <WL5G3N0:input name="consultarFuncionarios" message="WL5G3N1:consultarFuncionarios"/>
            <WL5G3N0:output name="consultarFuncionariosResponse" message="WL5G3N1:consultarFuncionariosResponse"/>
        </WL5G3N0:operation>
    </WL5G3N0:portType>
    <WL5G3N0:binding name="WS_SIAC_SIRH_ConsultarFuncionariosSoapBinding" type="WL5G3N1:WS_SIAC_SIRH_ConsultarFuncionarios">
        <WL5G3N2:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <WL5G3N0:operation name="consultarFuncionarios">
            <WL5G3N2:operation style="document"/>
            <WL5G3N0:input name="consultarFuncionarios">
                <WL5G3N2:body use="literal"/>
            </WL5G3N0:input>
            <WL5G3N0:output name="consultarFuncionariosResponse">
                <WL5G3N2:body use="literal"/>
            </WL5G3N0:output>
        </WL5G3N0:operation>
    </WL5G3N0:binding>
    <WL5G3N0:service name="WS_SIAC_SIRH_ConsultarFuncionarios">
        <WL5G3N0:port name="ConsultarFuncionariosSirhPort" binding="WL5G3N1:WS_SIAC_SIRH_ConsultarFuncionariosSoapBinding">
            <WL5G3N2:address location="http://129.144.8.81:80/WS_SIRH_ConsultarFuncionarios/proxy/ConsultarFuncionariosProxy"/>
        </WL5G3N0:port>
    </WL5G3N0:service>
</WL5G3N0:definitions>
