src/co/gov/ideam/integracion/snif/webservices/funcionarios/WS_IDEAM_SNIF_ConsultarFuncionarios.wsdl

<wsdl:definitions
     name="WS_IDEAM_SNIF_ConsultarFuncionarios"
     targetNamespace="http://funcionarios.webservices.snif.integracion.ideam.gov.co/"
     xmlns:ns1="http://schemas.xmlsoap.org/soap/http"
     xmlns:tns="http://funcionarios.webservices.snif.integracion.ideam.gov.co/"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    >
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://funcionarios.webservices.snif.integracion.ideam.gov.co/"
             elementFormDefault="unqualified" targetNamespace="http://funcionarios.webservices.snif.integracion.ideam.gov.co/"
             version="1.0">
            <xs:element name="consultarFuncionariosAutoridad" type="tns:consultarFuncionariosAutoridad"/>
            <xs:element name="consultarFuncionariosAutoridadResponse" type="tns:consultarFuncionariosAutoridadResponse"/>
            <xs:complexType name="consultarFuncionariosAutoridad">
                <xs:sequence>
                    <xs:element minOccurs="0" name="objetoEntrada" type="tns:oeConsultarFuncionarios"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="oeConsultarFuncionarios">
                <xs:sequence>
                    <xs:element minOccurs="0" name="codAutoridadAmbiental" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="consultarFuncionariosAutoridadResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="return" type="tns:osConsultarFuncionarios"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="osConsultarFuncionarios">
                <xs:sequence>
                    <xs:element minOccurs="0" name="codigoError" type="xs:int"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="funcionarios" nillable="true"
                         type="tns:funcionario"/>
                    <xs:element minOccurs="0" name="mensajeError" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="funcionario">
                <xs:sequence>
                    <xs:element minOccurs="0" name="aliasUsuarios" type="xs:string"/>
                    <xs:element minOccurs="0" name="clave" type="xs:string"/>
                    <xs:element minOccurs="0" name="codAutoridadAmbiental" type="xs:string"/>
                    <xs:element minOccurs="0" name="codigoTipoIdentificacion" type="xs:string"/>
                    <xs:element minOccurs="0" name="dieccionCorreoElectronico" type="xs:string"/>
                    <xs:element minOccurs="0" name="estado" type="xs:string"/>
                    <xs:element minOccurs="0" name="identificacionPersona" type="xs:integer"/>
                    <xs:element minOccurs="0" name="nombreFuncionario" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="consultarFuncionariosAutoridad">
        <wsdl:part name="parameters" element="tns:consultarFuncionariosAutoridad"/>
    </wsdl:message>
    <wsdl:message name="consultarFuncionariosAutoridadResponse">
        <wsdl:part name="parameters" element="tns:consultarFuncionariosAutoridadResponse"/>
    </wsdl:message>
    <wsdl:portType name="WSConsultarFuncionario">
        <wsdl:operation name="consultarFuncionariosAutoridad">
            <wsdl:input name="consultarFuncionariosAutoridad" message="tns:consultarFuncionariosAutoridad"/>
            <wsdl:output name="consultarFuncionariosAutoridadResponse" message="tns:consultarFuncionariosAutoridadResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="WS_IDEAM_SNIF_ConsultarFuncionariosSoapBinding" type="tns:WSConsultarFuncionario">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="consultarFuncionariosAutoridad">
            <soap:operation style="document" soapAction=""/>
            <wsdl:input name="consultarFuncionariosAutoridad">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="consultarFuncionariosAutoridadResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="WS_IDEAM_SNIF_ConsultarFuncionarios">
        <wsdl:port name="WSConsultarFuncionarioPort" binding="tns:WS_IDEAM_SNIF_ConsultarFuncionariosSoapBinding">
            <soap:address location="http://172.16.1.30:8080/SNIF-SIAC-WS-web/WS_IDEAM_SNIF_ConsultarFuncionarios"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
